.balanceSummary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
    gap: 24px;

    .currentBalance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: #201f24;
        padding: 24px;
        border-radius: 12px;
        box-sizing: border-box;
        
        p{
            margin:0;
        }

        .textPresetWhite4 {
            font-family: "Public Sans";
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            color:white;
        }
        .amount{
            font-family: "Public Sans";
            font-weight: bold;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 0px;
            color:white;
            margin: 0;
        }
    }
    .income{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: #FFF;
        padding: 24px;
        border-radius: 12px;
        box-sizing: border-box;

         p{
            margin:0;
        }

        .textPresetBlack4{
            font-family: "Public Sans";
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            color:#696868;
        }

        .amount{
            font-family: "Public Sans";
            font-weight: bold;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 0px;
            color:#201f24;
            margin: 0;  
        }
    }

     .expenses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background-color: #FFF;
        padding: 24px;
        border-radius: 12px;
        box-sizing: border-box;

         p{
            margin:0;
        }

        .textPreset4{
            font-family: "Public Sans";
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            color:#696868; 
        }
        
        .amount{
            font-family: "Public Sans";
            font-weight: bold;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 0px;
            color:#201f24;
            margin: 0;  
        }
        }
}