.Overview {
  font-family: "Public Sans";
  width:100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 40px;
  // border: 1px solid red;
  background-color: #F8F4F0;
  
  @media (max-width:768px) {
    flex-direction: column;
    border: 1px solid red;
  }

  h2 {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 100%;
     @media (max-width:768px) {
   grid-template-columns: auto;
  }

    .leftColumn {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .rightColumn {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}